<div class="container-fluid g-0">

    <!-- HEADER -->
    <app-headeragent></app-headeragent>
  
    <!-- MAIN CONTENT -->
    <main class="black-borde">
  
      <!-- TOOBAR TO ADD EMPLOYEES,PROJETS AND SEARCH EMPLOYEES -->
      <div class="toolbar">
  
        <div class="add-projet">
          <button type="button" class="btn btn-outline-success btn-lg" data-bs-toggle="modal"
            data-bs-target="#exampleModal1" #addProjetButton>Add Project</button>
        </div>
  
  
        <div class="search-projets">
          <input type="search" class="form-control" placeholder="Search Projets"
            (input)="searchProjets(searchInput.value)" #searchInput>
        </div>
  
      </div>
  
      <!-- AREA TO DISPLAY ALL THE stagiaires -->
      <div class="projets">
  
        <div class="row mt-5" *ngIf="projets.length == 0">
          <div class="col text-center">
            <span class="text-secondary fs-2 fw-bold fst-italic">There are No Projects Added!</span>
          </div>
        </div>
  
        <div class="row mt-4" *ngFor="let projet of projetsToDisplay | paginate: { itemsPerPage: 4, currentPage: page }; let ei = index;"></div>
        <div class="row mt-4" *ngFor="let projet of projetsToDisplay; let ei = index;">
          <div class="col">
            <app-projetagent></app-projetagent>
          </div>
          
        </div>
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
        
  
      </div>
  
      
    </main>
  </div>
  
  <!-- Modal projet-->
  