
<div class="container-fluid g-0">

  <!-- HEADER -->
  <app-headeragent></app-headeragent>

  <!-- MAIN CONTENT -->
  <main class="black-borde">

    <!-- TOOBAR TO ADD EMPLOYEES,PROJETS AND SEARCH EMPLOYEES -->
    <div class="toolbar">

      <div class="add-stagiaire">
        <button type="button" class="btn btn-outline-success btn-lg" data-bs-toggle="modal"
          data-bs-target="#exampleModal" #addStagiaireButton>Add Intern</button>
      </div>


      <div class="search-stagiaires">
        <input type="search" class="form-control" placeholder="Search Stagiaires"
          (input)="searchStagiaires(searchInput.value)" #searchInput>
      </div>

    </div>

    <!-- AREA TO DISPLAY ALL THE stagiaires -->
    <div class="stagiaires">
      <div class="row mt-5" *ngIf="stagiaires.length == 0">
        <div class="col text-center">
          <span class="text-secondary fs-2 fw-bold fst-italic">There are No Stagiaires Added!</span>
        </div>
      </div>
    <br>
    <br>
      <!-- Table des stagiaires -->
      <div class="row justify-content-center mb-5" *ngIf="!selectedStagiaire">
        <div class="col-md-10">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let stagiaire of stagiairesToDisplay | paginate: { itemsPerPage: 4, currentPage: page }">
                <td>{{ stagiaire.firstname }}</td>
                <td>{{ stagiaire.lastname }}</td>
                <td>{{ stagiaire.email }}</td>
                <td>
                  <button class="btn btn-info" (click)="showDetails(stagiaire)">Details</button>
                </td>
              </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
      </div>
    
      <!-- Affichage des détails du stagiaire sélectionné -->
      <div *ngIf="selectedStagiaire" class="row mt-4">
        <div class="col-md-10">
          <app-sagent 
            [stagiaire]="selectedStagiaire" 
            (onRemoveStagiaire)="removeStagiaire($event)" 
            (onEditStagiaire)="editStagiaire($event)"
            (closeDetails)="closeDetails()">
          </app-sagent>
        </div>
      </div>
      
    </div>
    
    
    
    
  </main>
  
</div>


<!-- Modal stagiaire -->
<div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Enter intern Information</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">

        <form [formGroup]="stagiaireForm">

          <!-- FIRST AND LAST NAME -->
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="First Name" formControlName="firstname">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Last Name" formControlName="lastname">
            </div>
          </div>

          <!-- PERSONAL INFORMATION -->
          <div class="row mt-5">
            <div class="col form-heading">
              <h6 class="text-secondary fst-italic">Personal Information</h6>
            </div>
          </div>

           <div class="row">
              <div class="col">
                  <input type="text" class="form-control" placeholder="Email" formControlName="email">
              </div>
             <!-- ADDRESS AND COMPANY -->
             <div class="row mt-3">
              <div class="col">
                <input type="text" class="form-control" placeholder="Cin" formControlName="cin">
             </div>
              <div class="col">
                  <input type="text" class="form-control" placeholder="Adresse" formControlName="adresse">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="NumTel" formControlName="numTel" 
                       pattern="^\d{8}$" required title="Le numéro doit être composé de 8 chiffres" 
                       maxlength="8" minlength="8">
            </div>
          
            <div class="row mt-5">
              <div class="col form-heading">
                <h6 class="text-secondary fst-italic">Academic background</h6>
              </div>
            </div>

          </div> 
            <div class="col">
                
              <div class="row">
                <div class="col">
                  <select class="form-select" formControlName="education">
                    <option value="default" selected>Select your Education</option>
                    <option *ngFor="let option of educationOptions; let i = index;" value="{{i}}">
                      {{option }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col">
              <select class="form-select" formControlName="etablissement">
                <option value="default" selected>Choice of establishment</option>
                <option *ngFor="let option of etablissementOptions; let i = index;" value="{{i}}">
                  {{option }}
                </option>
              </select>
            </div>
          </div>
          <br>
          <div class="row mt-3">
            <div class="col form-heading">
              <h6 class="text-secondary fst-italic">Image Intern</h6>
              <input type="file" class="form-control" id="profile" #fileInput>
            </div>
          </div>


          
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addStagiaire()">Insert</button>
      </div>
    </div>
  </div>
</div>